body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.m{
    color: orange;
}
.section1{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.section1 img{
    width: 100%;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
   background-position:right;
}
.single-exp{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
}
.exp{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: -100px;
    padding-bottom: 10px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, lightsalmon, tomato);
    border-image-slice: 1;
    background-color: white;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient( 180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}